@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 2vh;
    background-image:url(bg-4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

body>div{
    min-height: 300px;
    width: max( 15%,200px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.1px solid transparent;
    box-shadow: 1px 2px 5px rgba(112, 112, 112, 0.233);
    backdrop-filter: blur(15px);
    margin: 0px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.3s ease;

}
div img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid rgb(51, 231, 255);
    padding: 2px;
    margin-bottom:15px ;
    transition: all 0.3s ease;
}
div>div{
    text-align: center;
}
div>div>h3{
    font-size: 1.3rem;
    padding-bottom: 10px;
    font-family: "Rubik", sans-serif;
}
div>div>p{
    font-size: 0.9rem;
    padding-bottom: 10px;
    font-family: "Andika", sans-serif;
}
div>div>button{
    color: black;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 1px 2px 5px rgba(51, 51, 51, 0.233);
    background-color: rgba(255, 255, 255, 0.13);
    cursor: pointer;
    transition: all 0.3s ease;
}
div>div>button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid rgb(0, 153, 173);
}
body>div:hover{
    background-color: rgba(255, 255, 255, 0.23);
    transform: translateY(-5px);
    border: 0.1px solid rgba(255, 255, 255, 0.2);
}
div:hover img{
    transform: scale(1.05);
}
button>a{
    text-decoration: none;
}